<channel>

  <title><%= @feed.title %></title>

  <description>
    <![CDATA[<p><%= @feed.description %></p>]]>
  </description>

  <managingEditor><%= @feed.email %></managingEditor>
  <copyright>Test LLC</copyright>
  <generator>Test</generator>

  <atom:link href="<%= request.original_url %>" rel="self" type="application/rss+xml"/>
  <link>http://google.com</link>

  <itunes:owner>
    <itunes:name><%= @feed.title %></itunes:name>
    <itunes:email><%= @feed.email %></itunes:email>
  </itunes:owner>

  <itunes:author>Test Authors</itunes:author>

  <itunes:summary>
    <![CDATA[<p><%= @feed.description %></p>]]>
  </itunes:summary>
  <language>en</language>

  <itunes:explicit>yes</itunes:explicit>
  <itunes:category text="Comedy"/>
  <itunes:category text="Health"/>
  <itunes:category text="News &amp; Politics"/>
  <itunes:keywords>womens,TV,society,sexuality,rights,pop,Politics,News,lgbt,gender,gay,film,feminist,feminism,female,Education,culture,Comedy,alternative,alt</itunes:keywords>
  <itunes:type>episodic</itunes:type>
  <itunes:image href="https://content.production.cdn.art19.com/images/1d/47/38/a0/1d4738a0-9d4a-49f1-878b-948786f3dd21/f104d70c13e074b9922a522d9be96a0ab6ad194a8ad49fe466aaa2699e4c72d87e41109a4d4978fe02c2d8b8750a8358a667c09a8b1915c28bbddbf18a639cbf.jpeg"/>

  <image>
    <url>https://content.production.cdn.art19.com/images/1d/47/38/a0/1d4738a0-9d4a-49f1-878b-948786f3dd21/f104d70c13e074b9922a522d9be96a0ab6ad194a8ad49fe466aaa2699e4c72d87e41109a4d4978fe02c2d8b8750a8358a667c09a8b1915c28bbddbf18a639cbf.jpeg</url>
    <link>http://www.earwolf.com/show/throwing-shade/</link>
    <title>Throwing Shade</title>
  </image>

  <% if @feed.episodes %>
    <% @feed.episodes.each_with_index do |episode, i| %>
      <%= render 'episode', episode: episode, i: i %>
    <% end %>
  <% end %>

</channel>
