<channel>

  <title><%= @feed.title %></title>

  <description>
    <![CDATA[<p><%= @feed.description %></p>]]>
  </description>

  <% if @feed.no_email %>
  <% else %>
    <% if @feed.random_email %>
      <managingEditor><%= @feed.random_email %></managingEditor>
    <% else %>
      <managingEditor><%= @feed.email %></managingEditor>
    <% end %>
  <% end %>
  <copyright><%= @feed.author %></copyright>
  <generator>FeedIt.DEV</generator>

  <atom:link href="<%= request.original_url %>" rel="self" type="application/rss+xml"/>
  <link><%= request.original_url %></link>

  <itunes:owner>
    <itunes:name><%= @feed.title %></itunes:name>
    <% if @feed.no_email %>
    <% else %>
      <% if @feed.random_email %>
        <itunes:email><%= @feed.random_email %></itunes:email>
      <% else %>
        <itunes:email><%= @feed.email %></itunes:email>
      <% end %>
    <% end %>
  </itunes:owner>

  <itunes:author><%= @feed.author %></itunes:author>

  <itunes:summary>
    <![CDATA[<p><%= @feed.description %></p>]]>
  </itunes:summary>
  <language>en</language>

  <itunes:explicit><%= @feed.explicit %></itunes:explicit>
  <itunes:category text="<%= @feed.category %>"/>
  <itunes:keywords><%= @feed.category.try(:downcase) %></itunes:keywords>
  <itunes:type><%= @feed.type %></itunes:type>
  <itunes:image href="https://content.production.cdn.art19.com/images/1d/47/38/a0/1d4738a0-9d4a-49f1-878b-948786f3dd21/f104d70c13e074b9922a522d9be96a0ab6ad194a8ad49fe466aaa2699e4c72d87e41109a4d4978fe02c2d8b8750a8358a667c09a8b1915c28bbddbf18a639cbf.jpeg"/>

  <image>
    <url>https://content.production.cdn.art19.com/images/1d/47/38/a0/1d4738a0-9d4a-49f1-878b-948786f3dd21/f104d70c13e074b9922a522d9be96a0ab6ad194a8ad49fe466aaa2699e4c72d87e41109a4d4978fe02c2d8b8750a8358a667c09a8b1915c28bbddbf18a639cbf.jpeg</url>
    <link><%= request.original_url %></link>
    <title><%= @feed.title %></title>
  </image>

  <% if @feed.episodes %>
    <% @feed.episodes.each_with_index do |episode, i| %>
      <%= render 'episode', episode: episode, i: i %>
    <% end %>
  <% end %>

</channel>
